.addvegetable{
    background-color: #4a7442;
    color: rgb(17, 18, 19);
    margin-top: 10px;
    border-style: inset;
    border-width: 5px;
    margin-left: 225px;
    padding: 10px;
    
}

.firstform{
    margin-right: 51px;
}

.addvegebutton{
    background-color: #1f4f2f;
    font-weight: 700;
}